<div id="editItemModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Chỉnh sửa tên</label>
          <div class="col-sm-10">
            <input id="script_item_name_edit" style="width: 100%;">
            <input type="hidden" id="script_item_code_edit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nội dung ẩn phía trước</label>
          <div class="col-sm-10">
            <input id="script_item_before_content_edit" style="width: 100%;">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nội dung ẩn phía sau</label>
          <div class="col-sm-10">
            <input id="script_item_after_content_edit" style="width: 100%;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveScriptItemBtn">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="editItemExplainModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tên lựa chọn</label>
          <div class="col-sm-10">
            <input id="script_item_option_label_edit" style="width: 100%;">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Chỉnh sửa giải thích</label>
          <div class="col-sm-10">
            <input id="script_item_explain_edit" style="width: 100%;">
            <input type="hidden" id="script_item_explain_code_edit">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveScriptExplainItemBtn">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="importProfileModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tên</label>
          <div class="col-sm-10">
            <input id="new_script_item_name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addScriptItemBtn">Thêm</button>
      </div>
    </div>
  </div>
</div>

